
.logo{ height: 45px; 
    width: 136px;
} 

.headerclass{
    padding:45px 68px;
}

.getting-started{
    background-color: #45AF45;
    border-radius: 38px;
    padding: 8px 16px;
    border: 0;
    color:white;
    font-size: small;
}